.button {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 35px;
  width: 230px;
  padding-right: 24px;
  border: none;
  border-bottom: 1px solid #fff;
  transition: all 1s ease 0.3s;
  background-color: #ddd;
}

.selected {
  background-color: #fff;
  outline: 0;
}

.step-btn-text {
  text-transform: capitalize;
  color: #9ba0a4;
  font-size: 13px;
  padding-right: 24px;
  padding-left: 70px;
}

.selectedText {
  color: #36abe1;
  font-weight: 700;
}

.icon {
  height: 24px;
  width: 24px;
}
