.paragraph {
  height: 100%;
}

.img-container {
  margin-bottom: 24px;
}

.paragraph-text {
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #65686f;
}

.block {
  margin-bottom: 100px;
}

.names {
  color: #6fbee7;
}
