.header {
  width: 100%;
/*  background-image: url('../../utils/assets/images/header/header.jpg');*/
  background-repeat: no-repeat;
  background-color: lightblue;
}

.text-area {
	/*text-align: right;*/
	/*padding: 67px 50px;*/
}

.first-headline {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 32px;
	color: #fff;
	word-spacing: 7px;
}

.second-headline {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #fff;
  line-height: 48px;
}